* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
}

.card {
  background-color: rgba(107, 94, 94, 0.336);
  border: 1px solid #ccc;
  padding: 20px;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

.card:hover {
  background-color: #e6f0ff; 
  transform: scale(1.03);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}