.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.box1,
.box2,
.box3,
.box4 {
  height: 200px;
  width: 200px;
  /* background-color: rosybrown; */
  background-color: rgb(136, 255, 0);
}

.container:hover .box1 {
  background-color: aqua;
  transition-duration: 5s;
  transform: translate(-200px, -200px);
}
.container:hover .box2 {
  background-color: blue;
  transition-duration: 5s;
  transform: translate(200px, -200px);
}
.container:hover .box3 {
  background-color: beige;
  transition-duration: 5s;
  transform: translate(-200px, 200px);
}
.container:hover .box4 {
  background-color: green;
  transition-duration: 5s;
  transform: translate(200px, 200px);
}
button{
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 0, 0);
}